<% if(page.comments && theme.disqus.enabled){ %>
    <div class="blog-post-comments">
        <div id="disqus_thread">
            <noscript><%= __('comments.no_js') %></noscript>
        </div>
    </div>
<% } %>

<% if(page.comments && theme.schnack.enabled){ %>
    <div class="comments-go-here"></div>
    <script src="https://comment.fedidat.com/embed.js"
        data-schnack-slug="post-slug"
        data-schnack-target=".comments-go-here">
    </script>
<% } %>

<% if(page.comments && theme.isso.enabled){ %>
<style>
    #isso-thread a {
        background-image: none;
    }
    #isso-thread input { 
        color: black;
    }
    #isso-thread * { 
        color: white;
    }
    #isso-thread > h4 {
        color: white;
    }
    #isso-thread .textarea {
        color: black;
    }
</style>
<script data-isso="//comment.fedidat.com/"
        src="//comment.fedidat.com/js/embed.min.js"></script>

<section id="isso-thread"></section>
<% } %>

<% if(page.comments && theme.commento.enabled){ %>
    <style>
    </style>
    <div id="commento"></div>
    <script defer src="https://s.fedidat.com:10011/js/commento.js"></script>
<% } %>

<% if(theme.remark.enabled){ %>
    <div id="remark42"></div>
    <script>
        var remark_config = {
          host: "https://s.fedidat.com", // hostname of remark server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
          site_id: 'fedidat',
          components: ['embed'],
          theme: 'dark', // optional param; if it isn't defined default value ('light') will be used
        };
      </script>
      <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
    <!-- <script>
        var remark_config = {
          site_id: 'fedidat',
          max_shown_comments: 10,
        };
      
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//s.fedidat.com/web/embed.js';
          (d.head || d.body).appendChild(s);
        })();
    </script> -->
<% } %>

<% if(!page.comments_disabled && theme.cusdis.enabled){ %>
    <script async src="<%= theme.cusdis.host || 'https://cusdis.com' %>/js/cusdis.es.js"></script>
    <div id="cusdis_thread"
    data-host="<%= theme.cusdis.host || 'https://cusdis.com' %>"
    data-app-id="<%= theme.cusdis.app_id %>"
    data-page-id="<%= page.path %>"
    data-page-url="<%= page.permalink %>"
    data-page-title="<%= page.title %>"
    ></div>
<% } %>